.table thead tr th p{
    font-family: 'Poppins';
font-size: 22px;
font-weight: 500;
line-height: 33px;
text-align: left;
margin-bottom: 0;

}
.table thead tr th span{
    font-family: 'Poppins';
font-size: 18px;
font-weight: 400;
line-height: 27px;
text-align: left;
color:  #98A2B3;


}
.table tbody tr td{
    font-family: 'Poppins';
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color:  #667085;


}
.table tbody tr .thead{
    color:black
}