.card-info{
    display: flex;
    flex-direction: row;

}
.card-info .head-img{
    object-fit: cover;
    width: 207px;
    border-radius: 6px;
}
@media (max-width:768px){
    .card-info{
        flex-direction: column;
    }
   .card-info .head-img{
    width: 100%;
   }
    
}