@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.web-container {
  max-width: 1440px;
  padding: 0 50px;
  margin: 0 auto;
}
@media(max-width:521px){
  .house-price-info{
    display: flex;
    flex-wrap: wrap;
  }
  
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
}

.logo {
  width: 141px;
  height: 40px;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left ul {
  display: flex;
  gap: 24px;
  padding: 24px 24px 24px 94px;
  margin-bottom: 0;
}

.nav-left ul li {
  list-style-type: none;
}

.nav-left ul li a {
  text-decoration: none;
  color: #344054;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  transition: color 0.3s;
}

.nav-left ul li a:hover {
  color: #1db3b3;
}

.nav-btn {
  display: flex;
  gap: 16px;
}

.header-button {
  background-color: #1db3b3;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 18px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.1);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.header-button a {
  text-decoration: none;
  color: white;
}

.no-bg {
  background-color: white;
  color: #344054;
  border: none;
  border-radius: 8px;
  padding: 12px 18px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.1);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.no-bg:hover {
  background-color: #1db3b3;
}
.no-bg a {
  text-decoration: none;
  color: #344054;
}
.no-bg a:hover {
  color: white;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 4px;
  transition: 0.3s;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .web-container {
    padding: 0 10px;
  }

  .container-fluid {
    padding: 12px 20px;
  }

  .logo {
    width: 120px;
    height: auto;
  }

  .nav-left ul {
    padding-left: 50px;
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .container-fluid {
    padding: 12px 10px;
  }

  .nav-left ul,
  .nav-btn {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .nav-menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    top: 55px;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    gap: 15px;

    z-index: auto;
  }

  .nav-left ul li a {
    color: #344054;
  }

  .nav-btn.active {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 100%;
    top: 220px;
    gap: 10px;
    padding-bottom: 20px;
    z-index: 100;
  }
}
/*-------------------navbar responsive----------------------*/
@media (max-width: 768px) {
}

/*--------------------hero section-----------------*/
.hero {
  padding: 0px 20px;
}

.hero-img {
  background-image: url("../assets/bg-img.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 83vh;
  border-radius: 12px;
  color: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    linear-gradient(260.84deg, rgba(0, 0, 0, 0) 44%, rgba(0, 0, 0, 0.2) 100%);
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 80vh;
  gap: 12px;
  width: 561px;
}

.hero-content h2 {
  font-family: "Poppins";
  font-size: 64px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #fff;
}

.hero-content p {
  width: 394px;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #fff;
}

.hero-tabs {
  width: 950px;
}

.hero-tabs .nav-item {
  background-color: #FFFFFF4A;
  /* #1DB3B3 with 30% opacity */
  backdrop-filter: blur(10px);
  /* Adjust the blur intensity as needed */
  -webkit-backdrop-filter: blur(10px);
 
  
}


.hero-filter {
  display: flex;
  gap: 0px;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 24px;
  background-color: #FFFFFF4A;
  /* #1DB3B3 with 30% opacity */
  backdrop-filter: blur(10px);
  /* Adjust the blur intensity as needed */
  -webkit-backdrop-filter: blur(10px);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  flex-wrap: nowrap;
  width: 950px;
}

.hero-filter .location {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 205px;
}

.hero-location {
  display: flex;
  flex-direction: column;
}

.hero-location p {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
}

.hero-city {
  display: flex;
  gap: 36px;
  align-items: center;
}

.hero-city p {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.hero-city img {
  width: 12px;
  height: 14px;
  margin-top: -15px;
}

.hero-search {
  max-width: 292px;
  padding: 12px 24px;
}

.hero-search .search {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
}

.hero-search p {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.search-btn button {
  background-color: #1db3b3;
  padding: 12px 18px;
  border: 1px solid #1db3b3;
  border-radius: 8px;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
/*--------------------------hero responsive------------------*/
@media (max-width:521px){

}
@media (max-width: 768px) {
  .hero-img {
    background-size: cover;
    height: 88vh;
    border-radius: 12px;
  }
  .nav.nav-tabs{
    flex-wrap: nowrap;
  }
  .nav-item .nav-link{
    font-size: 12px;
  }
  .hero-filter {
   
    width: 250px;
  }
  .nav-tabs{
    width: 250px;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 86vh;
    padding: 10px;
    gap: 0px;
    width: 280px;
  }

  .hero-content h2 {
    font-family: "Poppins";
    font-size: 36px;

    line-height: 42px;
  }

  .hero-content p {
    width: 250px;
    margin-bottom: 5px;

    font-size: 16px;
  }
  .hero-tabs {
    max-width: 290px;
  }

  .hero-filter {
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 290px;
    align-items: center;
    padding: 5px 5px;
    flex-wrap: wrap;

    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .hero-location p {
    font-size: 14px;
  }

  .hero-city {
    gap: 5px;
  }

  .hero-city p {
    font-size: 12px;
  }
  .hero-city img {
    display: none;
  }
  .hero-search {
    width: 220px;
    padding: 0px 0px;
  }

  .hero-search .search {
    font-size: 14px;
  }

  .hero-search p {
    font-size: 12px;
  }

  .search-btn button {
    padding: 6px 25px;

    font-size: 12px;

    gap: 5px;
  }
}
@media (max-width: 480px) {
  .hero-tabs {
    width: 100%;
  }

  .hero-filter {
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 5px 5px;
    flex-wrap: wrap;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .hero-content h2{
    font-size: 24px;

    line-height: 32px;
  }
  .hero-content {
    
    width: 270px;
  }
  
}

/*-------------------------find residence-----------------*/
.find-residence {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.find-residence-content-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.find-residence-content-left h3 {
  font-family: "Poppins";
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  color: #1f1f1f;
}
.find-residence-content-left span {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #1f1f1f;
}
.find-residence-content-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.find-residence-content-right .lists {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.lists p {
  margin-bottom: 0px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #1f1f1f;
}
.grid {
  padding: 8px 12px;
  background: #e8f7f7;
  border: 1px solid #4ac2c2;
  border-radius: 8px;
}
/*---------------find residene---------------------*/
@media (max-width: 768px) {
  .find-residence {
    padding: 0px 20px;
    padding-bottom: 0px;
    padding-top: 0px;
    gap: 15px;
  }
  .find-residence-content-left {
    
  }
  .find-residence-content-left h3 {
    font-size: 28px;
  }
  .find-residence-content-left span {
  }
  .find-residence-content-right {
    display: flex;
    align-items: flex-start;

    gap: 10px;
  }
  .find-residence-content-right .lists {
  }
  .lists p {
  }
  .grid {
  }
}

/*-----------------------compare list---------------------*/
.compare-list {
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.compare-list-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.compare-list-left h3 {
  font-family: "Poppins";
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;

  color: #1f1f1f;
}
.compare-list-left span {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #1f1f1f;
}
.compare-list-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.compare-list-right .lists {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.lists p {
  margin-bottom: 0px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #1f1f1f;
}
.grid {
  padding: 8px 12px;
  background: #f2f4f7;

  border: 1px solid #4ac2c2;
  border-radius: 8px;
}
.delete {
  padding: 8px 12px;
  background: #fef3f2;

  border: 1px solid #fef3f2;
  border-radius: 8px;
}
.delete p {
  color: #f04438;
}
.compare-btn {
  padding-left: 28px;
}
.compare-btn button {
  padding: 10px 16px;
  border: 1px solid #1db3b3;
  border-radius: 8px;
  background-color: #1db3b3;
  color: #fff;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}
.compare-btn button a{
  text-decoration: none;
  color: #fff;
}
/* Popup card styles */
.popup-card {
  display: none; /* Hidden initially */
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  text-align: left;
  z-index: 10000;
}

/* Overlay background when popup is shown */
.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

/* Close button inside popup */
.close-btn {
  
  cursor: pointer;
}
.popup-card-head{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  border-bottom: 1px solid lightgray;
  
}
.popup-card-head h3{
  margin-bottom: 0;
  font-family: 'Poppins';
font-size: 18px;
font-weight: 500;
line-height: 28px;
text-align: left;

}
.popup-address{
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  gap: 10px;
}

/*-----------------------compare responsive------------------*/
@media (max-width:480px){
  .compare-list.compare-list-left{
    
    justify-content: flex-start;
  }
}
@media (max-width: 768px) {
  .compare-list {
    padding: 0 20px;
    padding-bottom: 0px;
    gap: 15px;
  }

  .compare-list-left span {
  }
  .compare-list-right {
    flex-wrap: wrap;
    gap: 12px;
  }
}

/*-----------------------find residence responsive------------------*/

@media (max-width: 768px) {
  .find-residence {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .find-residence-content-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
  }
  .find-residence-content-left h3 {
    font-family: "Poppins";
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    color: #1f1f1f;
  }
  .find-residence-content-left span {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #1f1f1f;
  }
  .find-residence-content-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  .find-residence-content-right .lists {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
  }
  .lists p {
    margin-bottom: 0px;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #1f1f1f;
  }
  .grid {
    padding: 8px 12px;
    background: #e8f7f7;
    border: 1px solid #4ac2c2;
    border-radius: 8px;
  }
}
/*----------------------------compare list responsive-------------------*/
@media (max-width: 768px) {
  .compare-list {
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .compare-list-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
  }
  .compare-list-left h3 {
    font-family: "Poppins";
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;

    color: #1f1f1f;
  }
  .compare-list-left span {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #1f1f1f;
  }
  .compare-list-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
  .compare-list-right .lists {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
  }
  .lists p {
    margin-bottom: 0px;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #1f1f1f;
  }
  .grid {
    padding: 8px 12px;
    background: #f2f4f7;

    border: 1px solid #4ac2c2;
    border-radius: 8px;
  }
  .delete {
    padding: 8px 12px;
    background: #fef3f2;

    border: 1px solid #fef3f2;
    border-radius: 8px;
  }
  .delete p {
    color: #f04438;
  }
  .compare-btn {
    padding-left: 28px;
  }
  .compare-btn button {
    padding: 10px 16px;
    border: 1px solid #1db3b3;
    border-radius: 8px;
    background-color: #1db3b3;
    color: #fff;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
  }
}

/*------------------------filter--------------------*/
.filter {
  display: grid;
  grid-template-columns: 1fr 2fr;

  gap: 10px;
}

.filter-card-left {
  gap: 0px;
  position: sticky;
  top: 10px;
  border-radius: 12px;
  
  display: flex;
  flex-direction: column;

  box-shadow: 0px 0px 20px 0px #0000001f;
}
.filter-card-left-head {
  display: flex;
  justify-content: space-between;
  padding: 18px 24px;
  border-radius: 12px 12px 0px 0px;
  border-top: 1px solid #d0d5dd;
}
.filter-card-left-head h2 {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  margin-bottom: 0;
}
.filter-card-left-head img {
  width: 32px;
  height: 32px;
}
.filter-card-left-options {
  display: flex;
  gap: 28px;

  padding: 18px 24px 18px 24px;

  border-style: solid;

  border-color: #d0d5dd;
}
.filter-card-left-option {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.filter-card-left-option p {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;

  margin-bottom: 0;
}
.filter-card-left-dropdown {
  display: flex;
  justify-content: space-between;

  padding: 18px 24px 18px 24px;
  gap: 28px;
}
.dropdown-content {
  display: none; /* Hidden by default */
  padding: 10px;
  border: 1px solid #ddd;
  margin-top: 5px;
}

.dropdown-content.show {
  display: block;
}
.dropdown-property-type{
  display: flex;
  flex-wrap: wrap;
}

 .type-check{
  display: flex;
  gap: 10px;
  padding: 10px 24px;
}
input[type="checkbox"]:checked{
 background-color: red;
}
.dropdown-portions{
  display: flex;
  flex-wrap: wrap;

}
.dropdown-parking{
  display: flex;
  flex-wrap: wrap;

}
.dropdown-outdoor{
  display: flex;
  flex-wrap: wrap;

}
.type-check p{
  margin-bottom: 0;
  
font-family: 'Poppins';
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #1f1f1f;

}
.dropdown-price-range{
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 34px;
  max-width: 100%;
  
}
.dropdown-price-range-input{
  display: flex;
  gap: 10px;
  justify-content: center;
 
}
.dropdown-price-range-input div{
  display: flex ;
  flex-direction: column;
  gap:5px;
}
.range-container {
  position: relative;
  width: 100%;
  margin: 20px auto;
}

/* Range Slider Styling */
.range-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  background-color: #ddd;
  border-radius: 5px;
  position: absolute;
  top: 30px; /* Positions the slider within the container */
}

/* Custom thumb styling */
.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #68cccc;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
 
}

.range-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: #68cccc;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  
}

/* Static label styling for example values */
.static-label {
  position: absolute;
  top: -30px;
  padding: 4px 8px;
  background-color: #68cccc;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  white-space: nowrap;
  
}

/* Min and Max labels */
.range-label {
  position: absolute;
  top: -40px;
  color: #999;
  font-weight: bold;
  font-size: 12px;
}
.min-label {
  left: 0;
}
.max-label {
  right: 0;
}

/* Ticks and labels */
.range-ticks {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #333;
  margin-top: 10px;
}
.dropdown-price-range-input input{
  width: 170px;
  border-radius: 8px;
  border: 1px solid lightgray;
  padding: 10px 14px;
}
.dropdown-rooms{
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  gap: 12px;
  
}
.dropdown-rooms .bedrooms{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.dropdown-rooms .bathrooms{
  display: flex;
  justify-content: space-between;
  
}
.bedrooms p,.bathrooms p{
  
font-family: 'Poppins';
font-size: 17px;
font-weight: 400;
line-height: 22px;
letter-spacing: -0.4000000059604645px;
text-align: left;
margin-bottom: 0;

}
.inc-dec-btn{
  display: flex;
  gap: 10px;
  background:  #EAECF0;
  border-radius: 8px;
  align-items: center;

}
.inc-dec-btn p{
  margin-bottom: 0;
}
.inc-dec-btn button{
  background-color: transparent;
  width: 31px;
  height: 31px;
  border-radius: 8px;
  border: 1.45px solid  #D0D5DD;
  background: #fff;
}
.filter-card-left-dropdown p {
  margin-bottom: 0;

  font-family: "Poppins";
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
}
.filter-card-left-dropdown img{
  cursor: pointer;
}

.filter-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}
.card-right {
  padding: 18px;
  gap: 12px;
  border-radius: 12px;

  box-shadow: 0px 0px 18px 0px #0000001a;

  border: 1px solid #d0d5dd;
}
.card-info {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.card-info img {
  width: 100%;
}
.card-info-head {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.card-info-head h2 {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  margin-bottom: 0;
  color: #1f1f1f;
}
.card-info-head p {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-bottom: 0;
}
.card-house-info {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.house-infos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.house-info {
  display: flex;
  gap: 10px;
}
.house-info .info:not(:first-child) {
  border-left: 1px solid lightgray; /* Adjust color as needed */
  padding-left: 10px; /* Optional: Add padding to create space from the border */
}
.house-info .info {
  display: flex;
  gap: 6px;
  align-items: center;
}
.house-price-info {
  border-top: 1px solid lightgray;
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}
.price-info:not(:first-child){
  border-left: 1px solid lightgray; /* Adjust color as needed */
  padding-left: 10px; 
} 



.price-info {
  display: flex;
  flex-direction: column;
}
.price-info h3 {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
.card-bottom{
  padding-top: 12px;
}
.card-bottom span{
  font-family: 'Poppins';
font-size: 14px;
font-weight: 400;
line-height: 21px;
text-align: left;
color: #4F5B5D;



}
/*--------------------------------filter responsive--------------*/
@media (max-width: 768px) {
  .dropdown-price-range{
    display: none;
  }
  .filter {
    display: grid;
    grid-template-columns: 1fr;
  }

  .filter-card-left {
  }
  .filter-right {
    grid-template-columns: 1fr;
  }
  .price-info h3{
    font-size: 12px;

  }
  .price-info span{
    font-size: 14px;
  }
}
/*---------------------Footer--------------------*/

.footer {
  padding: 108px 60px;
  background-color: black;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.footer-left-side-1 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 25px;
  flex-direction: column;
}

.footer-left-side-1 .footer-logo {
  width: 144px;
  height: 40px;
}

.footer-left-side-1 p {
  width: 227px;
  color: white;
}

.footer-left-side-2,
.footer-right-side-1,
.footer-right-side-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 25px;
}

.footer-left-side-2 ul,
.footer-right-side-1 ul,
.footer-right-side-2 ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 0px;
}

.footer-left-side-2 ul li,
.footer-right-side-1 ul li,
.footer-right-side-2 ul li {
  list-style-type: none;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: white;
}

.footer-left-side-2 h2,
.footer-right-side-1 h2,
.footer-right-side-2 h2 {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: white;
}

.footer-right-side-2 ul li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 12px 32px 12px 16px;
  background-color: #363636;
  border-radius: 14px;
}

/*-----------------footer responsive-----------------*/
@media (max-width: 1024px) {
  .footer {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 20px;

    grid-template-columns: 1fr;

    gap: 20px;
  }

  .footer-left-side-1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    flex-direction: column;
  }

  .footer-left-side-1 .footer-logo {
    width: 144px;
    height: 40px;
  }

  .footer-left-side-1 p {
    width: 100%;
    color: white;
  }

  .footer-left-side-2,
  .footer-right-side-1,
  .footer-right-side-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 16px;
  }

  .footer-left-side-2 ul,
  .footer-right-side-1 ul,
  .footer-right-side-2 ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 0px;
  }

  .footer-left-side-2 ul li,
  .footer-right-side-1 ul li,
  .footer-right-side-2 ul li {
    list-style-type: none;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: white;
  }

  .footer-left-side-2 h2,
  .footer-right-side-1 h2,
  .footer-right-side-2 h2 {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: white;
  }
  .footer-right-side-2 ul {
    width: 100%;
  }

  .footer-right-side-2 ul li {
    display: flex;
    flex-direction: column;

    padding: 12px 12px 12px 12px;
    width: 100%;
    background-color: #363636;
    border-radius: 14px;
  }
}
